.top-section {
  display: flex;
}

.lnb-menu-bars {
  margin: 5px;
  display: none;
}

.login-button {
  position: absolute;
  right: 0;
  display: flex;
  margin: 20px;
  cursor: pointer;
}
.login-button div {
  margin-left: 3px;
}
.user {
  cursor: default;
}

.nav-section {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.nav-section img {
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu-area {
  display: flex;
}
.menu-list {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}
.menu-list li {
  padding: 10px;
}

.search_box {
  position: absolute;
  right: 0;
  display: flex;
}
.search_box input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 30px;
}

.search_box .search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.product-card {
  cursor: pointer;
  margin: 20px 0;
}

.product-card:hover {
  transform: scale(1.1);
}

img {
  border: 0;
  max-width: 100%;
}

.mgl15 {
  margin-right: 15px;
}

@media screen and (max-width: 920px) {
  .menu {
    top: 0;
    left: 0;
  }
  .menu-area {
    float: left;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
  }
  .menu-list {
    flex-direction: column;
    position: relative;
    top: 30px;
    padding-right: 10px;
  }
  .on {
    display: flex;
  }
  .off {
    display: none;
  }
  .lnb-menu-bars {
    display: flex;
    cursor: pointer;
    z-index: 2;
  }
}
